:root{
    --navy: #000048;
    --navy2: #b9d4f4;
    --gold: #b4a87e;
    --textsize: 16px;
    --logo-widthheight: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set font size for rem refernce */
html{
    font-size: 75%;
    color: var(--navy);
}
/* Header styling below */
header{
    top: 0;
    background: var(--navy);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    font-size: 2rem;
    flex-shrink: 0;
}
header h1 a img{
    height: 2rem;
    width: auto;
    padding-left: 5px;
}
header a{
    text-decoration: none;
    color: var(--gold);
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    justify-content: right;
}
header nav ul li a{
    padding: 1rem 1rem;
    margin: .9rem;
    font-size: 1.8rem;
    margin-bottom: 1rem
}
/* Color text on hover for nav */
.textlight{
    font-size: 4rem;
}
header nav ul li a:hover{
    color: #ffff87;
}
header nav ul li a:hover .textlight{
    color: red;
}
/* Profile / Bio styling */
.container{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 4rem auto;
    max-width: 1200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}
.col{
    position: relative;
    width: 100%;
}
.column1{
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
.column2{
    flex: 0 0 66.66666666%;
    max-width: 66.66666666%;
}
.column3{
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.column4{
    flex: 0 0 80%;
    max-width: 80%;    
}
    .profile{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    /*display:block;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;*/
}
.profile img{
    border-radius: 50%;
    height: 15%;
    width: auto;
}
.name{
    font-size: 3rem;
    margin: 1rem 0;
}
.biography h2{
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: bolder;
}
.profile h3{
    font-size: 1.5rem;
    margin-bottom: .8rem;
    font-weight: 450;
}
.biography p{
    font-size: 1.5rem;
    letter-spacing: normal;
    font-weight: 100;
}
.logosection{
    display: inline-flex;
    flex-wrap: wrap;
}
.logo{
    margin: 1rem;
    width: var(--logo-widthheight);
    height: var(--logo-widthheight);
}
.github {
    background: url("../images/logos/icons8-github-50.png") no-repeat ;
    background-size: contain;
}
.github:hover {
    background: url("../images/gif-logos/icons8-github.gif") no-repeat;
    background-size: contain;
}
.linkedin{
    background: url("../images/logos/icons8-linkedin-circled-50.png") no-repeat ;
    background-size: contain;
}
.linkedin:hover {
    background: url("../images/gif-logos/icons8-linkedin-circled.gif") no-repeat;
    background-size: contain;
}
.mail{
    background: url(../images/logos/icons8-gmail-logo-50.png);
    background-size: contain;
}
.mail:hover{
    background: url(../images/gif-logos/icons8-gmail-logo.gif);
    background-size: contain;
}
.phone{
    background: url(../images/logos/icons8-phone-ringing-50.png);
    background-size: contain;
}
.phone:hover{
    background: url(../images/gif-logos/icons8-phone-ringing.gif);
    background-size: contain;
}
.skillb{
    width: 100;
    margin: 0;
    padding: 1.5rem 0 ;
    background: var(--gold);
}
#skills{
    padding: 1rem 1rem;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills h2{
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    /*border-bottom: 1px solid var(--navy);*/
}
.skillIcon{
    display: flex;
    width:100%;
    text-align: center;
}
.skillIcon i , .skillIcon img{
    font-size: 6rem;
    color: #000;
    height: 6rem;
    width: auto;
    margin-bottom: 0.5rem;
}
.skillIcon h3{
    font-weight: 450;
}
.workImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1vw;
}
.workImages a img{
    width: 20em;
    height: auto;
}
#contact h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem;
    margin: 0 2rem;
    padding-right: 1rem;
    border-right: 1px var(--navy) solid;
}
.contactb{
    padding-right: 1rem;
    padding-left: 1rem;
}
.contact-form input, .contact-form textarea, .contact-form button{
    border: 1.5px solid var(--navy);
    display: flex;
    flex-direction: column;
    padding: .6rem 1.1rem;
    font-size: 1.5rem;
    color: var(--navy);
    width: 90%;
    margin: .5rem 0 1rem 0;
    border-radius: .9rem;
    background-color: rgba(185, 212, 244, 0.2);
}
.contact-form input:focus, .contact-form textarea:focus{
    background-color: #fff;
    outline: none;
}
.contact-form button{
    width: 7rem;
    border: 3px solid ;
}
.contact-form button:hover{
background-color: var(--navy);
color: var(--gold);
}
::placeholder{
    color: var(--navy);
}
footer{
    display: flex;
    flex-wrap: wrap;
    color: var(--gold);
    align-items: center;
    background: var(--navy);
    justify-content: space-between;
    top: 0;
}
footer h3{
    margin: 1.5rem;
}
footer img{
    width: 2rem;
    height: auto;
    margin: 1.5rem;
}
@media screen and (max-width:980px) {
    .column1{
        flex: 0 0 40%;
        max-width: 40%;
    }
    .column2{
        flex: 0 0 60%;
        max-width: 60%;
    }
    .biography{
        padding: 0 2rem;
    }
}
@media screen and (max-width: 768px){
    header nav ul{
    flex-direction: column;
    }
    .column1{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .column2{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .biography{
        padding: 0 auto;
    }
}
@media screen and (max-width: 575px){
    html{
        font-size: 50%;
    }
    .skillIcon{
        padding: 0 1.5rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .skillIcon I, .skillIcon img{
        font-size: 4rem;
        height: 4rem;
    }


}

